*{
    box-sizing: border-box;
}

body{
    background: #96D3F0;
}

.container{
    background: #32315B;
    height: 500px;
    width: 100%;
    transition: background-color 1s;
}

.lightBackground{
    background: #f2f2f2;
}


.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 0;
    align-items: center;
}

.nav{
    color: aliceblue;
    font-size: xx-large;
}

.themeAndName{
    display: flex;
    align-items: center;
    justify-content: end;

}
.theme{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 6px;
    align-items: center;
    font-size: xx-large;
}
.name{
    color: aliceblue;
    font-size: xx-large;
    margin: 10px;
}

.icons{
    position: relative;
}

.dark,.light{
    width: fit-content;
    height: fit-content;
}

.light{
    color: white;
    font-size: x-large;
}
.dark{
    position: absolute;
    font-size: x-large;
    inset: 0;
}

.dark-logo{
    opacity: 0;
    transform: translateY(20%)rotateZ('50deg');
    transition: all 1s ease-out;
}

.light-logo{
    opacity: 1;
    transform: translateY(0)rotateZ('0deg');
    transition: all 1s ease-out;

}

.animate-light{
    opacity: 0;
    transform: translateY(20%)rotateZ('100deg');
}

.animate-dark{
    opacity: 1;
    transform: translateY(0)rotateZ('0deg');
}

hr{
    box-shadow: #292850;
}

/*input styling*/

input{
    height: 50px;
    width: 100%;
    border-radius: 30px;
    position: relative;
    background:#292850 ;
    outline: none;
    color: white;
    font-size: large;
    margin-left: 10px;
    padding-left: 10px; 
}

::placeholder{
    color: aliceblue;
    opacity: 0.5;
}
.input{
    display: flex;
    align-items: center;
    justify-content: end;
}

.add{
    position: absolute;
    justify-content: end;
    margin-right: 20px;
    font-size: xx-large;
    color:#457DB1 ;
}

/*To do items styling*/
h1{
    font-size: large;
    font-weight: bold;
    color: #7c7ba1;
}

#toDoItems{
    margin-bottom: 0;
    padding-left: 0;
   
}

.item {
    list-style: none; 
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #44446A;
    border-radius: 5px;
    height: 35px;
    margin: 10px;
    font-size: larger;
    color: aliceblue;
}

.item i{
    margin: 10px; 
}

.lineThrough{
    text-decoration: line-through;
    color: antiquewhite;
}

.check{
    color: #6eb200;
}

p{ 
    margin: auto;
    text-align: center;
    color: aliceblue;
    font-size: larger;
}





